{% load static %}
{% load crispy_forms_filters %}
{% include "Header.html" %}

<link rel="stylesheet" href="static/css/create.css" type="text/css">
{% load crispy_forms_tags %}

<div class="container mt-3">

    <div class="container col-sm-6">
        <div class="m-auto">
            <div class="container">
               <center> <img class="border border-success border-5" id="blah" src="http://placehold.it/256" alt="your image"/></center>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row">
                    <button type="submit" class="btn btn-primary mx-auto btn-lg">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "Footer.html" %}
<script type="text/javascript">
    id_image.onchange = evt => {
        const [file] = id_image.files
        if (file) {
            blah.src = URL.createObjectURL(file)
        }
    }
</script>