{% include "Header.html" %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
        <img src="static/img/logo_dark.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting"
             width="600"
             height="750">
    </div>
    <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">Jaguarete Ecommerce</h1><br>
        <h3 class="w3-center">About</h3>
        <p class="w3-large">La empresa JAGUARETE KAA S.A. quiere realizar un sitio web para exponer los productos que
            tiene
            para venderlos aprovechando el auge del eCommerce y dentro de sus requerimientos está lo
            siguiente.
            La empresa quiere que todas las páginas del sitio sean homogéneas además de que puedan verse
            bien en computadoras de escritorio, tablets o teléfonos celulares.
        </p>
        <p class="w3-large w3-text-grey w3-hide-medium">Se desea tener una sección de encabezado, que incluya el logo de
            la empresa y botones de acceso
            rápido para el login del usuario, el registro y el carrito. Además de contar con el botón de desconectar
            en caso de estar logueado.
            Una sección de menú, donde se pueda ir siempre al home o pagina principal, un botón desplegable
            que muestre todas las categorías de los productos, un botón de acerca de.. que lleve hacia una página
            con los datos de la empresa, un botón de contacto que sea un enlace al mail de la empresa, un botón
            de agregar producto (que solo vean los moderadores) y una caja de búsqueda para buscar productos.
            Una sección de footer o pie de página donde aparezca el nombre de la empresa, el copyright y el
            nombre del desarrollador.
        </p>
    </div>
</div>
{% include "Footer.html" %}