{% include 'Header.html' %}
{% load crispy_forms_filters %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
<div class="container mt-5 mb-5" style="padding-bottom: 193px;">
    <div class="col-md-3 card mx-auto text-center">
        <div class="card-body">
            <div class="card-title" style="font-size: 28px">Sign In</div>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary mr-2">Sign in</button>
                <a href="/signup"class="btn border border-5 border-dark mr-2">Sign up</a>
            </form>
        </div>
    </div>
</div>

{% include 'Footer.html' %}