{% include "Header.html" %}
<div class="container">
    <div class="text-center row bg-dark" style="font-size:24px;">
        <label class="mx-auto text-white">{{ category.description }}'s category results</label>
    </div>
    <table class="table" id="dtDynamicVerticalScrollExample">
        <thead class="table-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">price</th>
            <th scope="col">Category</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category.description }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>No results</td>
                <td>No results</td>
                <td>No results</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include "Footer.html" %}
<script type="application/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        $('#dtDynamicVerticalScrollExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>