{% include "Header.html" %}
<div class="container">
    <div class="text-center row bg-dark">
        <label class="mx-auto text-white">{{ searchText }}'s results</label>
    </div>
    <table class="table" id="dtDynamicVerticalScrollExample">
        <thead class="table-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">price</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category.description }}</td>
                <td>{{ product.description }}</td>
                {% if user.is_superuser %}
                    <td><a href="{% url 'detailsmod' product.id %}" class="btn btn-primary">Details</a></td>
                {% else %}
                    <td><a href="{% url 'details' product.id %}" class="btn btn-primary">Details</a></td>
                {% endif %}
            </tr>
        {% empty %}
            <tr>
                <td>No results</td>
                <td>No results</td>
                <td>No results</td>
                <td>No results</td>
                <td>No results</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include "Footer.html" %}
<script type="application/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        $('#dtDynamicVerticalScrollExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>